@import url(https://fonts.bunny.net/css?family=fira-code:400,700|fira-sans:400,700);

:root {
    --body-font: 'fira-sans', sans-serif;
    --rounded-sm: 0.5rem;
    --code-font: 'fira-code', monospace;
    --fw-normal: 400;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    color: #343a40;
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    font-size: 1.8rem;
    font-weight: var(--fw-normal);
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin: 4rem 0;
}

.container {
    align-items: center;
    background-color: #fff;
    border-radius: var(--rounded-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    padding: 6rem;
    width: 40vw;
    margin: 4rem 0;
}

.hex-block {
    align-items: center;
    background-color: #343a40;
    border-radius: var(--rounded-sm);
    display: flex;
    height: 10vh;
    justify-content: center;
    padding: 1.5rem;
    width: 20vw;
}

.hex-code {
    color: #fff;
    font-family: var(--code-font);
}
