@import url(https://fonts.bunny.net/css?family=fira-code:400,700|fira-sans:400,700);

:root {
    --body-font: 'fira-sans', sans-serif;
    --code-font: 'fira-code', monospace;
    --fw-normal: 400;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    color: #343a40;
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    font-size: 1.8rem;
    font-weight: var(--fw-normal);
    justify-content: center;
    min-height: 100vh;
}
